<h2>Activos e inactivos:</h2>

<table>
    <tr>
        <th>Activos</th>
        <th>Inactivos</th>
    </tr>
    <tr>
        <td>{{usuariosAct}}</td>
        <td>{{usuariosInact}}</td>
    </tr>
</table>
