﻿@{
    ViewData["Title"] = "Practica usuarios";
}

<div class="text-center">
    <h1 class="display-4">Practica usuarios</h1>

    <a href="./PracticaHTML/Vista.html">Cliente AJAX Usuarios</a><br />
    <a href="./ejemploWeaFor_AJAX.html">Cliente AJAX Weather forecast</a>


    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
