<h2>Directivas estructurales</h2>
<!--Empiezan por *ngNombreDirectiva: 
    La programación estructurada llevada al HTML declarado-->
<ol>
    <li *ngFor="let comida of arrayDeTextos"> He probado {{comida}}</li>
</ol>

<span> Cambia el valor</span><input type="number" [(ngModel)]="contadorComp">


<div *ngIf="contadorComp % 2 == 1;else elseBlock;">El contador es impar</div>
<ng-template #elseBlock>El contador es par</ng-template>

