<h1>{{title}} ejecutando</h1>

<app-uso-servicio></app-uso-servicio>

<app-bindings></app-bindings>
<br>
<app-bindings></app-bindings>
<br>
<app-directivas-struc></app-directivas-struc>
<br>

<app-propiedades-input valorX="20" valorY="30" activado={{srvEj2.siActivado()}}>

</app-propiedades-input>
