

<app-usuarios-edad menores="{{servicio.usuAdultos()[1]}}" adultos="{{servicio.usuAdultos()[0]}}"></app-usuarios-edad>
<app-usuarios-activos usuariosAct="{{servicio.usuActivos()[0]}}" usuariosInact="{{servicio.usuActivos()[1]}}"></app-usuarios-activos>

<a href="http://localhost:54879/PracticaHTML/Vista.html">Ir a CRUD</a>

<h1>Usuarios:</h1>

<table>
  <tr>
      <th>Nombre</th>
      <th>Activo</th>
      <th>Edad</th>
      <th>Altura</th>
      <th>Email</th>
      <th>Id</th>

  </tr>
  <tr *ngFor="let usu of servicio.getUsuarios()">
      <td>{{usu.nombre}}</td>
      <td>{{usu.activo}}</td>
      <td>{{usu.edad}}</td>
      <td>{{usu.altura}}</td>
      <td>{{usu.email}}</td>
      <td>{{usu.id}}</td>
  </tr>
</table>

